<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GTMSessionFetcher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GoogleToolboxForMac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-FirebaseRealTimeChat.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-FirebaseRealTimeChatTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-FirebaseRealTimeChatUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>107A9565F9DF88517DFD3E28C05B2B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168878FCC7038EAB915A9954A197F157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD68E3FC7652E915F621E6A8D90B1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C052BEBFBD0AB5218CC64BA3450F6547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E436530E95A3E28A109FFB39883EE8D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
